@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@Html.ActionLink("Back to Stylists", "Index", new { area = "" }, new { @class = "btn btn-secondary"  })
@Html.ActionLink("Edit Stylist", "Edit", new { area = "" }, new { @class = "btn btn-secondary"  })
@Html.ActionLink("Delete Stylist", "Delete", new { area = "" }, new { @class = "btn btn-secondary"  })